DB_PATH=./pdbs.db
PROTEINDJ_PATH=./proteindj # adjust depending on where proteindj is
PROTEINDJ_IMAGE_PATH=./proteindj/apptainer  # adjust depending on where proteindj is
OUTPUT_BASE_PATH=./proteindj_output
UPLOAD_FOLDER=./proteindj_upload
